/*=================================================================================================*/
/*  GENERAL                                                                                        */
/*=================================================================================================*/
body {
  background: #e8edf1;
  font-size: 15px;
}

p {
  line-height: 22px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #006699;
}

a:hover,
a:focus {
  color: #f02c56;
  text-decoration: none;
  outline: none;
}

button:hover,
button:focus {
  outline: none;
}

h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

h1,
h2,
h3,
h4 {
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  color: #17323b;
}

h2 {
  font-weight:normal;
  color: #f07f2c;
}

h1 {
  font-weight: 500;
}

.banner h1 {
  margin-bottom:0;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

#page {
  background: #e8edf1;
  padding-top: 30px;
}

label {
  display: inline-block;
}

label.checkbox,
label.radio {
  display: block;
}

.alert ul{
  margin-bottom: 0;
  list-style: none;
}

.control-label {
  width: 100%;
  color: #8b959d;
  font-size: 13px;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.form-horizontal .controls {
  margin-left: 170px;
}

span.or {
  color: #646253;
  background: #faf8ec;
  -webkit-border-radius: 50px;
  -moz-border-radius:    50px;
  border-radius:         50px;
  margin: 0 10px;
  padding: 8px;
  font-style: italic;
  font-weight: bold;
}

.well {
  background-color: #f4f7fa;
  border: 1px solid #d9dee2;
  margin: 0 0 30px 0;
  padding: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

.hero-unit {
  background-color: #f4f7fa;
  border: 1px solid #d9dee2;
}

.muted {
  color: #8b959d;
}

.legend {
  font-size: 18px;
  line-height: 40px;
  color: #17323b;
  border-bottom: 1px solid #d9dee2;
}

.icon {
  background-image: url("../images/icons-sprite.png");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 16px;
  height: 16px;
  display: inline-block;
}

[class^="icon-"],
[class*=" icon-"] {
  margin: 0;
}

.table th.borderless,
.table td.borderless,
.borderless,
.noborder {
  border: none;
}

.row-fluid [class*="span"] {
  min-height: 0;
}

.alignRight {
  text-align: right;
}

.flexigrid div.pDiv input,
.flexigrid div.pDiv select {
  width: auto;
  height: auto;
  padding: 2px;
  line-height: 1;
}

.text-error {
  color: #f02c56;
}

pre {
  padding: 10px;
  font-size: 13px;
  line-height: 21px;
  color: #000;
  background-color: #ecf0f3;
  border: 1px solid #d9dee2;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}

hr {
  border-top: 1px solid #ecf0f3;
  border-bottom: none;
}

.inner-content {
  background: #fff;
  padding: 20px;
  border: 1px solid #d9dee2;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}


/*=================================================================================================*/
/*  TABS                                                                                           */
/*=================================================================================================*/
.nav-tabs {
  border: none;
}

.nav-tabs > li {
  width: auto !important;
}

.nav-tabs > li > a {
  border: 1px solid #d9dee2;
  background: #fff;
  border-radius: 0;
  margin-right: -1px;
  color: #000;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

.nav-tabs > li:only-child > a {
  border-radius: 5px !important;
}

.nav-tabs > li:first-child > a {
  border-radius: 5px 0 0 5px;
}

.nav-tabs > li:last-child > a {
  border-radius: 0 5px 5px 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #ecf0f3;
  border: 1px solid #d9dee2;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.nav-tabs > .active > a:active,
.nav-tabs > .active > a:focus:active {
  border: 1px solid #d9dee2;
  background-color: #e1e7ec;
  color: #000;
}

.nav-tabs > li > a:active,
.nav-tabs > li > a:focus:active {
  background-color: #e1e7ec;
  border: 1px solid #d9dee2;
}


/*=================================================================================================*/
/*  TOPBAR                                                                                         */
/*=================================================================================================*/
header#main-header {
  margin-bottom: 0;
}

header#main-header .banner {
  padding: 14px 0;
  background: #17323b;
}

/* Logo */
.brand {
  display: block;
  width: 211px;
  height: 33px;
}

/* Icons */
.header-icon {
  padding: 9px;
  margin-right: 4px;
  width: 36px;
  height: 36px;
  border: 2px solid #cfe8ef;
  color: #cfe8ef;
  font-size: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius:    50%;
  border-radius:         50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

.header-icon.fa-user {
  position: absolute;
  top: 0;
  left: 0;
}

.fa-user:before {
  padding: 0 2px;
}

.icon-logout{
  background-position: left top;
}

/* User */
.welcome-area {
  float: right;
}

.welcome-area .userAvatar {
  position: relative;
  float: left;
  height: 36px;
  width: 36px;
  margin-right: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

.welcome-area .userAvatar img{
  position: relative;
  padding: 0;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius:    50%;
  border-radius:         50%;
  max-width: none\9;
  z-index: 1;
}

.welcome-area .img-polaroid {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  border: 2px solid #fff;
}

.welcome-area .userName {
  color: #D3E9F0;
  font-weight: bold;
}

.welcome-area .welcome-block {
  float: right;
}

.welcome-area a {
  font-weight: 200;
  color: #cfe8ef;
  font-size: 13px;
  letter-spacing: 1px;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
  margin-right: 15px;
}

.welcome-area a:hover {
  color: #fff;
  text-decoration: none;
}

.welcome-area a:hover .header-icon {
  border-color: #fff;
  color: #fff;
}

/* Logout */
a.log-out{
  color: #fff;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0;
  padding: 8px 12px;
  background-color: #5f9a48;
  -webkit-border-radius: 4px;
  -moz-border-radius:    4px;
  border-radius:         4px;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

a.log-out:hover,
a.log-out:focus {
  text-decoration: none;
  color: #fff;
  background-color: #50863b;
}

a.log-out:active,
a.log-out:focus:active {
  text-decoration: none;
  color: #fff;
  background-color: #437530;
}


/*=================================================================================================*/
/*  MAIN NAV                                                                                       */
/*=================================================================================================*/
.navbar {
  border-top: 1px solid #214450;
  margin-bottom: 0;
}

.navbar-inner {
  background: #17323b;
  padding: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius:    0;
  border-radius:         0;
  min-height: 0;
}

.navbar .nav {
  left: initial;
  display: table;
  float: none;
  margin-left: -15px;
}

.navbar .nav > li > a {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #cfe8ef;
  padding: 14px 0;
  margin: 0 15px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #cfe8ef;
  border-bottom-color: #cfe8ef;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar .nav > li.current > a {
  background: none;
  color: #fff;
  position: relative;
  -webkit-box-shadow: inset 0 -3px 0 0 #5f9a48;
  -moz-box-shadow:    inset 0 -3px 0 0 #5f9a48;
  box-shadow:         inset 0 -3px 0 0 #5f9a48;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #eff0eb;
}

.navbar .nav > li > a:focus .caret,
.navbar .nav > li > a:hover .caret {
  border-top-color: #eff0eb;
  border-bottom-color: #d1ceb1;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.dropdown-menu {
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:    0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow:         0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > .dropdown-menu::after,
.navbar .nav > li > .dropdown-menu::before {
  display: none !important;
}


/*=================================================================================================*/
/*  BREADCRUMB                                                                                     */
/*=================================================================================================*/
.breadcrumb {
  margin: 0 0 30px;
  background: #f4f7fa;
  border: 1px solid #d9dee2;
  color: #8b959d;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}

.breadcrumb > li {
  text-shadow: none;
}

.breadcrumb > .active {
  color: #8b959d;
}

.breadcrumb > li > .divider {
  color: #8b959d;
  padding: 0 3px;
}


/*=================================================================================================*/
/*  PANEL                                                                                          */
/*=================================================================================================*/
.panel {
  margin-bottom: 30px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
  border: 1px solid #d9dee2;
}

.panel-head, .nl-field ul li:first-child {
  background: #17323b;
  padding: 10px 20px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius:    5px 5px 0 0;
  border-radius:         5px 5px 0 0;
  border-bottom: none;
}

#page-feedback .panel-head,
#join-page-box .panel-head {
  background: #006699;
}

#recurring-events-sidebar .panel-head {
  background: #f02c56;
}

.panel-head h3, .nl-field ul li:first-child {
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.panel-body {
  background: transparent;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}


/*=================================================================================================*/
/*  DROPDOWN MENU                                                                                  */
/*=================================================================================================*/
.dropdown-menu {
  padding: 0;
  border: 1px solid #d9dee2;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}

.dropdown-menu > li {
  border-bottom: 1px solid #ecf0f3;
}

.dropdown-menu > li:last-child {
  border-bottom: 0;
}

.dropdown-menu > li > a {
  padding: 8px 15px;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
  background: #ecf0f3;
  color: #000;
}

.dropdown-menu li > a:active,
.dropdown-menu li > a:focus:active {
  background: #e1e7ec;
  color: #000;
}

.dropdown-menu > li:first-child > a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius:    5px 5px 0 0;
  border-radius:         5px 5px 0 0;
}

.dropdown-menu > li:last-child > a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius:    0 0 5px 5px;
  border-radius:         0 0 5px 5px;
}

.dropdown-menu > li:only-child > a {
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
}

.form-horizontal .form-actions{
  background: none;
  border: none;
  margin: 0;
  padding-left: 170px;
}


/*=================================================================================================*/
/*  BUTTONS                                                                                        */
/*=================================================================================================*/
.btn {
  padding: 7px 10px;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  white-space: nowrap;
  font-size: 12px;
  line-height: 20px;
  color: #000;
  text-shadow: none;
  background-color: #fff;
  background-image: none;
  filter: none;
  border: 1px solid #d9dee2;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

.btn:hover,
.btn:focus {
  background-color: #ecf0f3;
  outline: none;
}

.btn:active,
.btn:focus:active,
.btn.active {
  background-color: #e1e7ec;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn.disabled:active,
.btn[disabled]:active,
.btn.disabled:focus:active,
.btn[disabled]:focus:active {
  background-color: #ecf0f3 !important;
  border: 1px solid #d9dee2;
  color: #8b959d;
  cursor: not-allowed;
  opacity: 1;
}

.btn-small{
  padding: 3px 10px;
}

/* Primary Button */
.btn.btn-primary {
  background-color: #006699;
  border: 1px solid #004e75;
  background-image: none;
  filter: none;
  text-shadow: none;
  color: #FFF;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #005681;
}

.btn-primary:active,
.btn-primary:focus:active,
.btn-primary.active {
  background-color: #004e75;
}

/* Info Button */
.btn.btn-info {
  background-color: #00a8bc;
  border: 1px solid #008292;
  background-image: none;
  filter: none;
  text-shadow: none;
  color: #FFF;
}

.btn-info:hover,
.btn-info:focus {
  background-color: #0097a9;
}

.btn-info:active,
.btn-info:focus:active,
.btn-info.active {
  background-color: #008292;
}

/* Success Button */
.btn.btn-success {
  background-color: #5bb75b;
  border: 1px solid #3f923f;
  background-image: none;
  filter: none;
  text-shadow: none;
  color: #FFF;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #4ca34c;
}

.btn-success:active,
.btn-success:focus:active,
.btn-success.active {
  background-color: #3f923f;
}

/* Danger Button */
.btn.btn-danger {
  background-color: #f02c56;
  border: 1px solid #c51a3f;
  background-image: none;
  filter: none;
  text-shadow: none;
  color: #FFF;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #d8244a;
}

.btn-danger:active,
.btn-danger:focus:active,
.btn-danger.active {
  background-color: #c51a3f;
}

.btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}


/*=================================================================================================*/
/*  INPUTS                                                                                         */
/*=================================================================================================*/
input[class*="span"] {
  min-height: 36px !important;
}

textarea[disabled],
input[disabled],
textarea[disabled]:hover,
input[disabled]:hover,
textarea[disabled]:focus,
input[disabled]:focus {
  padding: 5px 13px;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px !important;
  min-height: 36px;
  background-color: #ecf0f3 !important;
  border: 1px solid #d9dee2;
  color: #8b959d;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #fff;
  border: 1px solid #d9dee2;
  color: #000;
  padding: 5px 13px;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  min-height: 36px;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover {
  border-color: #8b959d;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #f02c56;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

.uneditable-input,
.uneditable-input:hover,
.uneditable-input:focus,
.uneditable-input:active,
.uneditable-input:focus:active {
  padding: 5px 13px;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px !important;
  min-height: 36px;
  background-color: #ecf0f3 !important;
  border: 1px solid #d9dee2;
  color: #8b959d;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

select {
  background-color: #fff;
  border: 1px solid #d9dee2;
  color: #000;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: 36px;
  min-height: 36px;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  -webkit-transition: .2s;
  -moz-transition:    .2s;
  -o-transition:      .2s;
  transition:         .2s;
}

select:hover {
  border-color: #8b959d;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

select:focus {
  border-color: #f02c56;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

select[multiple],
select[size] {
  height: 36px;
  min-height: 36px;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 36px;
  min-width: 16px;
  padding: 7px 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

.form-search .input-append .search-query {
  border-radius: 18px 0 0 18px;
}

.form-search .input-append .btn {
  border-radius: 0 18px 18px 0;
}

::-webkit-input-placeholder {
  color: #8b959d !important;
}

:-moz-placeholder {
  color: #8b959d !important;
}

::-moz-placeholder {
  color: #8b959d !important;
}

:-ms-input-placeholder {
  color: #8b959d !important;
}

.input-small {
  width: 110px;
}


/*=================================================================================================*/
/*  TABLES                                                                                         */
/*=================================================================================================*/
table.table {
  background-color: #fff;
}

.table th,
.table td {
  border-top: 1px solid #d9dee2;
}

.table td {
  padding: 10px 15px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9fcfe;
}

.table-bordered {
  border-color: #d9dee2;
}

.table-bordered th, .table-bordered td {
  border-left: 1px solid #d9dee2;
}


/*=================================================================================================*/
/*  LOGIN FORM                                                                                     */
/*=================================================================================================*/
#login-form {
  width: 320px;
  margin: 0 auto 30px auto;
}

#login-form .panel-body {
  padding: 10px 20px;
}

.login-form {
  margin-top: 10px;
  float: left;
  width: 100%;
}

.login-actions {
  margin-top: 10px;
}

.login-actions a {
  margin-top: 15px;
  display: block;
  text-align: center;
}

.login-form input {
  width: 100%;
}


/*=================================================================================================*/
/*  LEGEND LIST                                                                                    */
/*=================================================================================================*/
ul.legend-list {
  list-style: none;
  margin-left: 0;
}

ul.legend-list li {
  line-height: 21px;
}

ul.legend-list li img {
  margin-right: 3px;
}

span.bread-separator {
  color: #8b959d;
  margin: 0 3px;
}


/*=================================================================================================*/
/*  DEPARTMENTAL CLERKSHIP SCHEDULE                                                                */
/*=================================================================================================*/
.select-dep .control-group {
  margin-bottom: 0;
}

.select-dep form label{
  font-weight: bold;
}

form legend.content-subheading {
  margin-bottom: 0;
  line-height: 1.5;
  border: none;
}


/*=================================================================================================*/
/*  DASHBOARD                                                                                      */
/*=================================================================================================*/
.dashboard-notices {
  max-height: 300px;
  overflow: auto;
  margin-bottom: 5px;
  padding-right: 14px !important;
}

div#dashboardCalendar {
  margin-bottom: 10px;
}

div.rss-item-title {
  padding: 8px 0;
  border-bottom: 1px #ecf0f3 solid;
}


/*=================================================================================================*/
/*  COURSES                                                                                        */
/*=================================================================================================*/
ul.course-list {
  list-style-type: square;
}

p.info-not-available {
  margin-bottom: 0;
  padding-top: 5px;
  font-size: 11px;
  color: #8b959d;
}


/*=================================================================================================*/
/*  MSPR                                                                                           */
/*=================================================================================================*/
.mspr-box form{
  margin-bottom: 0;
}

.mspr-box {
  min-height: 95px;
}

label#deadline_text {
  width: 143px !important;
}

ul.quiz-questions-list {
  margin: 0;
}


/*=================================================================================================*/
/*  FOOTER                                                                                         */
/*=================================================================================================*/
footer#main-footer .container {
  text-align: center;
  margin: 18px auto;
}


/*=================================================================================================*/
/*  NOTICES                                                                                        */
/*=================================================================================================*/
ul.public-notices {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/*=================================================================================================*/
/*  PEOPLE SEARCH (ps)                                                                             */
/*=================================================================================================*/
div.ps-media-body-margin {
  margin-left: 15px;
}

div.ps-row-margin-top {
  margin-top: 10px;
}

#ps-advanced-mode,
#ps-basic-mode {
  margin-left: 20px;
  font-size: 11px;
  text-decoration: none;
  width: 110px;
  cursor: pointer;
}

#ps-advanced-mode > span, #ps-basic-mode > span {
  color: #003366;
}

.ps-box {
  width: 300px;
}

.ps-group-select, .ps-role-select {
  width: 209px;
}

.ps-department-select {
  width: 100%;
}
.ps-pagination-form {
  display: inline;
}

.ps-pagination-link{
  width: 20px;
  vertical-align: middle;
  margin-right: 3px;
}

.ps-pagination-image {
  vertical-align: middle;
}

.ps-pagination-select {
  vertical-align: middle;
}

.ps-search-result-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.ps-search-result-summary {
  font-size: 12px;
  color: #8b959d;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.ps-search-summary-bar {
  background-color: #ecf0f3;
  border: 1px solid #d9dee2;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  width: 100%;
  padding: 15px;
}

.ps-address-margin {
  margin-left: 50px;
  margin-top: 16px;
}

.ps-media-padding {
  padding: 10px;
}

.ps-media-heading {
  color: #003366;
}

.ps-email {
  font-size: 10px;
}


/*=================================================================================================*/
/*  AWARDS                                                                                         */
/*=================================================================================================*/
.award_new_link {
  margin-bottom: 18px;
}

.award_text_input {
  width: 95%;
}

.award_text_area {
  width: 95%;
}

.award_table_font {
  font-size: 12px;
}

.award_list_form {
  margin-bottom: 0;
}

.award_details_table {
  width: 100%;
}

.award_details_footer {
  padding-top: 5px;
}

.award_recipient_list_first_column {
  border-left: 1px solid #8b959d;
}

.award_recipient_list_delete_button_column {
  padding-top: 23px !important;
}


/*=================================================================================================*/
/*  COMMUNITIES                                                                                    */
/*=================================================================================================*/
.mc-pager-top {
  margin-bottom: 10px;
}

.mc-pager-prev {
  width: 20px;
  vertical-align: middle;
  margin-right: 3px;
  text-align: left;
}

.mc-pager-next {
  width: 20px;
  vertical-align: middle;
  margin-left: 3px;
  text-align: right;
}

.mc-pager-link-align,
.mc-pager-image-align {
  vertical-align: middle;
}

.mc-pager-dropdown {
  vertical-align: middle;
}

.mc-deactivate-footer {
  margin-top: 40px;
}


/*=================================================================================================*/
/*  EVENT VIEWS                                                                                    */
/*=================================================================================================*/
.statsUL {
  list-style: none;
  padding: 0;
  margin: 0;
}

.statsLI {
  border-top: #D8D8D8;
  border-top-style: solid;
  border-width: 1px;
  list-style: none;
  padding: 10px 5px;
}

.statsLIHeader {
  list-style: none;
  padding: 5px;
}

.statsLISpan1 {
  width: 250px;
  display: inline-block;
}

.sortStats {
  width: 200px;
  display: inline-block;
  padding: 5px;
  text-align: left;
}

.sortStatsHeader {
  cursor: pointer;
  width: 200px;
  display: inline-block;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.sortStatsName {
  width: 300px;
  padding-right: 30px;
}

.sortStatsViews {
  width: 50px;
  padding-right: 60px;
  text-align: center;
}

.sortStatsDate {
  width: 150px;
  text-align: center;
}

.sortStatsNameModel {
  width: 250px;
  padding-right: 30px;
}

.sortStatsViewsModel {
  width: 40px;
  text-align: center;
}

.sortStatsDateModel {
  padding-left: 10px;
  width: 150px;
  text-align: center;
}

#userViews {
  padding-right: 50px;
}

#event_details_1.span5,
#event_details_1.span7 {
  float: right;
}

div.event-message {
  background-image: none;
  margin: 30px 0 0 0;
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
  border: 1px solid #d9dee2;
}

div.event-message h3 {
  display: block;
}

div.event-description .span4 h3,
div.event-message .span4 h3,
#event_details_2 h3 {
  line-height: 20px;
  font-size: 14px;
  margin: 2px 0;
}

div.event-description .span8,
div.event-message .span8,
#event_details_2 span {
  margin-top: 2px;
  font-size: 14px;
}

#event_details_1 .span12 hr,
#event_details_2 .span12 hr{
  margin-right: 2.12766%;
}

#event_details_2 h3 {
  font-size: 12px;
}

#event_details_2 span  {
  font-size: 12px;
}

#event_details_1 .span12,
#event_details_2 .span12 {
  min-height: 12px;
}

#event_details_2 div.course_contact_1,
#event_details_2 div.course_contact_2 {
  float: left;
}

#event_details_2 div.course_contact_1 h5 {
  margin: 1px 0;
  margin-right: 6px;
}

div#event_details_2 ul.menu {
  position: relative;
}


/*=================================================================================================*/
/*  EVENTS                                                                                         */
/*=================================================================================================*/
div.event-navbar-middle {
  background-color: #fff;
  border: 1px solid #d9dee2;
  border-left: 0;
  border-right: 0;
  color: #000;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  margin-bottom: 0;
  padding: 7px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

table.event-details tbody tr th,
table.event-details tbody tr td {
  vertical-align: top;
}


/*=================================================================================================*/
/*  FORM STYLE (nl)                                                                           */
/*=================================================================================================*/
.nl-form {
  width: 100%;
  margin: 0.3em auto 0 auto;
  line-height: 1.5;
}

.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* normalize the input elements, make them look like everything else */
.nl-form select {
  border: none;
  background: transparent;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance:    none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
  display: inline-block;
  position: relative;
}

.nl-field.nl-field-open {
  z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form select  {
  line-height: inherit;
  display: inline-block;
  color: #5BB75B;
  cursor: pointer;
  border-bottom: 1px dashed #5BB75B;
}

/* drop-down list / text element */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #FFF;
  left: -0.5em;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform:    translateY(-40%) scale(0.9);
  -o-transform:      translateY(-40%) scale(0.9);
  transform:         translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition:    visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  -o-transition:      visibility 0s 0.3s, opacity 0.3s, -o-transform 0.3s;
  transition:         visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
  border-bottom: 1px solid #F5F5F5;
}

.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform:    translateY(-50%) scale(1);
  -o-transform:      translateY(-50%) scale(1);
  transform:         translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition:    visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  -o-transition:      visibility 0s 0s, opacity 0.3s, -o-transform 0.3s;
  transition:         visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li:first-child {
  font-size: 2.5em;
  line-height: 70px;
  text-align: center;
  position: relative;
  border-radius: 0;
}

.nl-field ul li:nth-child(n+2) {
  font-size: 2em;
  line-height: 40px;
  color: #757575;
  position: relative;
}

.nl-dd ul li:nth-child(n+2) {
  padding: 10px 50px;
  cursor: pointer;
  white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
  color: #1b3842;
}

.nl-dd ul li.nl-dd-checked:before {
  content: "\2714";
  position: absolute;
  left: 20px;
}

.nl-dd ul li:nth-child(n+2):hover {
  background: #F9F9F9;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition:    visibility 0s 0.3s, opacity 0.3s;
  -o-transition:      visibility 0s 0.3s, opacity 0.3s;
  transition:         visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay:    0s;
  -o-transition-delay:      0s;
  transition-delay:         0s;
}


/*=================================================================================================*/
/*  MODALS                                                                                         */
/*=================================================================================================*/
.modal-header h2 {
  color: #000000;
}

#rotationschedule-modal-body {
  min-height: 325px;
}


/* My Entrada */
#my_entrada .nav > li > a {
  display: inline-block;
}

#my_entrada .nav > li > span.badge {
  margin-left: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  background-color: #FFB921;
}