RedirectMatch 404 /\\.git(/|$)

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteCond %{HTTP:Authorization} ^(.*)
	RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

	RewriteCond %{REQUEST_FILENAME} -f [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.* - [L,QSA]

# Default Entrada Rules
	RewriteRule ^api/v2/(.*)$ api/v2/index.php/$1 [L,QSA]
	RewriteRule ^admin/(.*)$ admin.php/$1 [L,QSA]

	RewriteRule ^community$ index.php/communities [L,QSA]
	RewriteRule ^community/feeds(.*)$ community/serve-feeds.php$1 [L,QSA]
	RewriteRule ^community/(.*)$ community/index.php/$1 [L,QSA]

	RewriteRule ^object(.*)$ api/lor-load.api.php/$1 [L,QSA]
	RewriteRule ^images/dynamic/(.*)$ serve-images.php/$1 [L,QSA]
	RewriteRule ^notices/(.*)$ serve-notices.php?g=$1 [L,QSA]
	RewriteRule ^rss$ serve-rss.php [L,QSA]
	RewriteRule ^rss/(.*)$ serve-rss.php/$1 [L,QSA]
	RewriteRule ^podcasts/(.*)$ serve-podcasts.php?request=$1 [L,QSA]
	RewriteRule ^calendars/(.*)$ api/calendar.api.php?request=$1 [L,QSA]

	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

