<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="../../www-root/core/library/vendor/autoload.php">
    <testsuites>
        <testsuite name="Entrada">
            <directory>./classes</directory>
            <directory>./models</directory>
            <directory>./views</directory>
            <directory>./functions</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="PHPUnit_MAIN_METHOD" value="1"/>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../www-root/core/library/Entrada/Curriculum</directory>
            <directory suffix=".php">../../www-root/core/library/Models</directory>
            <directory suffix=".php">../../www-root/core/library/Views/</directory>
            <file>../../www-root/core/includes/functions.inc.php</file>
        </whitelist>
    </filter>
</phpunit>
