/* Loading Icon */
#load-items.loading,
#load-forms.loading,
#load-rubrics.loading,
#load-distributions.loading {
    background-image: url('../images/loading_small.gif');
    background-position: 2% 50%;
    background-repeat: no-repeat;
}

.form-item {
    background: #fff;
    margin: 0;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-item .item-container .rubric-container {
    margin: 10px 0;
}

.form-item .item-controls {
    position: absolute;
    right: 0;
    background: white;
    padding: 5px;
    border-left: 1px solid #d9dee2;
    border-bottom: 1px solid #d9dee2;
    -webkit-border-radius: 0 5px 0 5px;
    -moz-border-radius: 0 5px 0 5px;
    border-radius: 0 5px 0 5px;
}

textarea.expandable {
    resize: vertical;
}

.item-table textarea {
    padding: 5px 10px;
}

.item-table input[type="password"],
.item-table input[type="number"],
.item-table input[type="email"],
.item-table input[type="text"]{
    padding: 5px 10px 5px 10px;
}

tr.rubric-title th,
tr.rubric-description th,
.assessment-form-item th {
    border-bottom: 1px solid #d9dee2;
}

tr.rubric-controls {
    background-color: #EFEFEF;
}

tr.rubric-controls th {
    border-bottom: 1px solid #DDD;
}

table.rubric-table thead h3 {
    color: #4E4E4E;
    margin: 0;
    font-weight: normal;
    line-height: 24px;
}

table.rubric-table thead h2,
.assessment-form-item thead h2 {
    color: #4e4e4e;
    margin: 5px 8px;
    font-weight: normal;
    line-height: 24px;
}

table.rubric-table thead tr.rubric-controls {
    background: #ecf0f3;
}

table.rubric-table thead tr.rubric-title {
    background: #f9f9f9;
}

table.rubric-table thead tr.rubric-title th {
    padding: 10px 15px;
}

.rubric-description th {
    padding: 10px 15px;
}

.rubric-response {
    vertical-align: top;
}

.rubric-response input {
    margin-bottom: 10px;
}

table tr.rubric-response-input td label {
    display: block;
    margin-bottom: 0;
    text-align: left;
    padding: 10px 0 0 0;
    font-size: 12px;
}

tr.rubric-response-input td {
    border-top: 1px solid #d9dee2;
}

tr.item-response-view td textarea {
    width: 100%;
    min-height: 75px;
}

table tr.rubric-comment td div {
    display: block;
    margin-bottom: 0;
    text-align: left;
    padding: 10px 10px 0 0;
    color: #8b959d;
    font-size: 13px;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

tr.rubric-comment td {
    border-top: 1px solid #d9dee2;
    border-left: 1px solid #d9dee2;
    padding: 0 10px 10px 10px;
}

tr.rubric-comment td textarea {
    width: 100%;
    min-height: 75px !important;
    overflow: hidden;
    margin-bottom: 0px;
}

div.form-item .rubric-response-no-text,
div.form-item tr.horizontal-response-input td {
    cursor: pointer;
}

.rubric-response-input td {
    padding: 15px;
    text-align: left;
}

#target-panel {
    margin-top: 15px;
    width: 225px;
}

#curriculum-tag-btn {
    min-width: 220px;
    text-align: left !important;
}

.form-item-objective-label {
    text-align: left;
}

.form-item-objective-label input {
    width: 13px !important;
}

.save-required {
    color: #b94a48;
    font-weight: bold;
}

.btn-danger:active {
    background-color: #bd362f;
}

.input-weight, .input-score, table .item-type-control input.input-score {
    width: 60px;
}

.input-score, table .item-type-control input.input-score {
    margin-top: 5px;
}

.form-container .item-table .item-type-control .input-small {
    margin-bottom: 10px;
}

.text-score,
.rubric-response-input .text-score,
.horizontal-response-label .text-score {
    display: block;
    margin-top: 5px;
    padding: 0;
    font-size: 12px;
    color: #333333;
    text-align: center;
}

.vertical-response-label {
    text-align: left;
}

.table-cell-lg {
    min-width: 80%;
}

.vertical-response-score .score.control-group {
    width: 60px;
}

.score.control-group {
    margin-bottom: 0;
    min-height: 52px;
    min-width: 60px;
}

.score.control-group .input-score {
    text-align: center;
}

table label.text-score-inline {
    display: inline;
}

table label.text-score-inline.pull-center {
    text-align: center;
    display: block;
}

.border-right {
    border-right: 1px solid #dddddd;
}

.horizontal-response-input .cell-weight {
    padding: 10px;
}

.cell-weight {
    width: 75px;
}

.cell-weight label, .cell-weight .label-weight {
    padding: 0;
    font-size: 12px;
}

.rubric-response-input .cell-weight label {
    padding-top: 0;
}

.label-weight {
    width: 75px;
}

.cell-weight .label-text {
    margin-bottom: 2px;
    display: block;
}

.cell-weight .weight-percentage-symbol {
    margin-left: 3px;
    margin-top: 4px;
}

.table-internal {
    width: 100%;
}

.table-internal td {
    border-top: none;
    border-left: none;
    padding: 0;
}

.table-internal .cell-score {
    border-left: 0;
}

.table-internal .cell-label {
    padding-left: 5px;
}

.has-internal-table .item-table .item-type-control select {
    width: 100%;
}

.assessment-sidebar-panel {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 18px;
    text-align: center;
}

.assessment-sidebar-panel .event-metadata {
    margin-top: 10px;
}

.assessment-sidebar-panel .event-name {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.assessment-sidebar-panel .user-image {
    margin-top: 15px;
}

.assessment-sidebar-panel .user-image img {
    height: 75px;
    max-width: 75px;
}

.assessment-sidebar-panel .user-metadata {
    margin-top: 10px;
}

.assessment-sidebar-panel .user-fullname {
    font-size: 16px;
    margin: 10px;
}

.assessment-sidebar-panel .user-email {
    display: inline-block;
    margin-bottom: 5px;
}

.assessment-sidebar-panel .user-organisation {
    color: #8b959d;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.assessment-sidebar-panel .user-organisation span {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

#target-switcher.target-list {
    margin: 0 0 20px 0;
    width: 100%;
}

#target-switcher.target-list .list-btn {
    background-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 14px;
    padding: 15px 20px;
    text-align: left;
    width: 100%;
}

#target-switcher.target-list .list-btn:hover,
#target-switcher.target-list .list-btn:focus,
#target-switcher.target-list .list-btn:active,
#target-switcher.target-list .list-btn:visited {
    background-color: #f4f7fa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#target-switcher.target-list .list-btn {
    white-space: normal;
}

#target-switcher.target-list .list-btn .assessment-dropdown-arrow::before {
    color: #8b959d;
    content: "\f078";
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    position: relative;
    top: 2px;
}

#target-switcher.target-list.open .list-btn .assessment-dropdown-arrow::before {
    content: "\f077";
}

#target-switcher .targets-ul {
    box-sizing: border-box;
    border-width: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    white-space: normal;
    width: 100%;
}

#target-switcher .targets-ul .target-listitem-header {
    background-color: #ecf0f3;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
}

#target-switcher .targets-ul .no-target-listitem,
#target-switcher .targets-ul .no-target-search-listitem {
    color: #8b959d;
    font-size: 13px;
    padding: 10px 20px;
}

#target-switcher .targets-ul .target-listitem-header .badge {
    background-color: #8b959d;
    font-size: 13px;
}

#target-switcher .targets-ul .target-listitem-header .badge.pending {
    background-color: #8b959d;
}

#target-switcher .targets-ul .target-listitem-header .badge.inprogress {
    background-color: #028ed2;
}

#target-switcher .targets-ul .target-listitem-header .badge.complete {
    background-color: #57B856;
}

#target-switcher .targets-ul .target-listitem a {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    width: 100%;
}

#target-switcher .targets-ul .target-listitem a.inprogress,
#target-switcher .targets-ul .target-listitem a.complete {
    padding-right: 40px;
}

#target-switcher .targets-ul .target-listitem a:hover,
#target-switcher .targets-ul .target-listitem a:active,
#target-switcher .targets-ul .target-listitem a:visited,
#target-switcher .targets-ul .target-listitem a:focus {
    background-color: #f4f7fa;
}

#target-switcher .targets-ul .target-listitem a .target-name {
    display: inline-block;
    font-size: 13px;
    padding: 10px 20px;
}

#target-switcher .targets-ul .target-listitem a .badge {
    background-color: #8b959d;
    font-size: 13px;
    margin-top: 12px;
}

#target-switcher .targets-ul .target-listitem span.change-target {
    padding: 10px 15px;
}

#target-switcher .targets-ul .target-search-listitem {
    padding: 20px;
}

#target-switcher .targets-ul #target-search-bar input {
    margin: 0;
    width: 100%;
}

/* Total Weight Bar */
.weight-total-bar {
    position: fixed;
    bottom: 0;
    right: 30px;
    border: 1px solid #d9dee2;
    border-bottom: 0;
    padding: 10px 15px;
    background-color: #fff;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.form-container .table-responsive {
    margin-bottom: 25px;
}

.editable, .clickable {
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.editable:hover {
    background-color: #f4f7fa !important;
}

/* Text Colors */
.color-red {
    color: #c0392b;
}

.color-green {
    color: #27ae60;
}

/* Sortable Items */
.sortable-items tr:hover {
    cursor: pointer;
}

.sortable-items tr.ui-sortable-helper {
    cursor: move;
}

/*
#target-panel {
    margin-top: 15px;
    width: 225px;
}

#curriculum-tag-btn {
    min-width: 220px;
    text-align: left !important;
}

.img-circle {
    border-radius: 100%;
}

.selector-documents {
    margin: 1px 20px;
}

.table-striped td.editable:hover {
    background-color: #FFC;
}

.view-group-members {
    margin: 5px 15px 0 0;
}

.view-group-members:hover {
    text-decoration: none;
}

.rubric-comment-hidden-textarea {
    padding: 4px 6px;
    font-size: 12px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    width: 91.4894%;
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

select[multiple],
select[size] {
    height: auto;
    min-height: 36px;
}
*/

.sortable-items tr:hover {
    cursor: pointer;
}

.sortable-items tr.ui-sortable-helper {
    cursor: move;
}

.rubric-header-warning-text {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    border-radius: 4px;
    color: #b94a48;
    font-weight: bold;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #efefef;
    box-shadow: none;
    padding: 4px 9px 5px;
    text-shadow: none;
}

#hide-assessment-comments {
    width: 95%;
    min-height: 75px;
}

.item-container {
    position: relative;
    overflow-x: scroll;
}

.assessment-item-disabled-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
    z-index: 1000;
}

#hide-assessment-task-modal {
    display: none;
}

.flags-color-thumb {
    width: 50px;
    height: 20px;
    border: 1px solid #000;
}

.table-overflow {
    overflow-x: auto;
}

.assessment-form-metadata {
    font-size: 17px;
    line-height: 24px;
    margin-bottom:10px;
    margin-top: 10px;
}

/* Objective Tag Mapping */
#objectives-selector {
    box-sizing: border-box;
    padding-right: 15px;
    width: 50%;
}

#assessment-item-list-wrapper {
    box-sizing: border-box;
    padding-left: 15px;
    width: 50%;
}

#assessment-item-list-wrapper:only-child {
    padding-left: 0;
    width: 100%;
}

#objectives-selector-inner {
    border: 2px solid #d9dee2;
    border-radius: 5px;
    box-sizing: border-box;
    height: 500px;
}

#assessment-item-objective-list {
    border: 2px solid #d9dee2;
    border-radius: 5px;
    box-sizing: border-box;
    height: 500px;
    overflow: auto;
}

#objectives-selector-controls {
    overflow: auto;
}

#objectives-selector-inner .course-select {
    border-bottom: 1px solid #e8edf1;
    padding: 10px 20px;
    margin: 0;
}

#objectives-selector-inner .control-label {
    width: 105px;
    margin-top: 4px;
    margin-right: 10px;
}

#objectives-selector-inner .course-select .controls {
    margin-left: 0;
}

#choose-objective-course-btn {
    text-align: left;
}

.objective-set-container {
    border-bottom: 1px solid #e8edf1;
}

.objective-selector {
    border-top: 1px solid #e8edf1;
    margin-top: 10px;
}

.objectives-empty-notice {
    padding: 20px;
}

.objective-header {
    display: block;
    padding: 0 25px 0 0;
    position: relative;
}

.objective-header .objective-title {
    cursor: default;
}

.objective-header .objective-checkbox {
    position: absolute;
    top: -21px;
    right: 1px;
}

.objective-set-title {
    display: block;
    padding: 15px 45px 15px 20px;
    position: relative;
}

.has-child-objectives {
    transition: background-color .2s;
}

.has-child-objectives > .objective-set-title::after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 17px;
    right: 20px;
    transition: .2s;
}

.has-child-objectives > .objective-header::after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    transition: .2s;
}

.has-child-objectives.child-objectives-visible > .objective-set-title::after,
.has-child-objectives.child-objectives-visible > .objective-header::after {
    transform: rotate(-180deg);
}

.objective-set-title,
.objective-title,
.objective-code {
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.objective-description {
    color: #000;
    display: block;
    font-size: 13px;
    font-style: normal;
    line-height: 1.5;
    margin: 0;
}

.objective-select {
    cursor: default;
}

.objective-select.has-child-objectives,
.objective-select.has-child-objectives > .objective-header > .objective-title {
    cursor: pointer;
}

.objective-list {
    padding: 0;
}

.mapped-objective {
    border-bottom: 1px solid #e8edf1;
    padding: 15px 20px;
    position: relative;
}

#assessment-item-objective-list .mapped-objective {
    padding-right: 40px;
}

#assessment-item-objective-list .mapped-objective .remove-mapped-objective {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
}

#assessment-item-objective-list .objective-description {
    padding: 0;
}

.objective-set > .child-objectives {
    padding: 0 20px;
}

.objective-set > .child-objectives > .objective-container:first-child > .objective-select {
    margin-top: 0;
}

.objective-set.child-objectives-visible {
    background-color: #f9fcfe;
    padding-bottom: 15px;
}

div.objective-container {
    border-bottom: none;
    padding: 0;
}

span.objective-breadcrumb {
    display: block;
    padding-top: 10px;
    padding-right: 25px;
    color: #8b959d;
    font-size: 13px;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.objective-code::after {
    content: ":";
}

.inline {
    display: inline-block;
}

.tooltip {
    text-align: left !important;
    position: fixed;
}

.tooltip-inner {
    font-size: 12px;
    line-height: 18px;
    max-width: 300px;
    text-align: left;
    white-space:pre-wrap;
}

tr.report-statistics-row td {
    font-size: 10px;
    line-height: 8px !important;
}