.assessment-form-item {
    overflow: auto;
}

#assessment-form .form-item:last-child .item-container,
#assessment-form .form-item:last-child .rubric-container {
    margin-bottom: 20px;
}

.form-item .table {
    border: none;
    margin: 0;
}

.form-item .table th,
.form-item .table td {
    border-left: none;
    border-top: none;
}

.form-item .rubric-table th,
.form-item .rubric-table td {
    border-left: 1px solid #d9dee2;
    border-top: 1px solid #d9dee2;
}

.form-item .rubric-table th:first-child,
.form-item .rubric-table td:first-child {
    border-left: none;
}

.form-item .heading-table {
    display: table;
    width: 100%;
}

.form-item .heading-cell {
    display: table-cell;
    padding-right: 20px;
    width: 100%;
}

.form-item .table .cell-label {
    border-top: 1px solid #d9dee2;
    min-width: 160px;
    padding: 15px;
    vertical-align: middle;
}

.form-item .table select {
    min-width: 200px;
}

.form-item a.curriculum-tag {
    font-size: 12px;
}

.response-text {
    margin-top: 10px;
}

.score,
.score.control-group {
    margin: 10px 0 0 0 !important;
}

.input-score {
    min-width: 60px;
    width: 100%;
}

.form-item .table .cell-score {
    border-top: 1px solid #d9dee2;
    max-width: 80px;
}

.rubric-response-input td label.text-score {
    display: block;
    text-align: left;
}

.text-score,
.text-score-inline,
.label-weight .label-text {
    color: #8b959d;
    font-size: 13px;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

td.cell-weight {
    vertical-align: bottom;
    max-width: 100px;
    min-width: 100px;
    width: 100px;
}

.input-weight {
    width: 70px !important;
}

.label-weight {
    display: table-cell;
    min-width: 150px;
}

.rubric-response-input td label.label-weight {
    min-width: 100px;
    text-align: left;
}

.weight-percentage-symbol {
    margin-left: 5px;
    margin-top: 10px;
}

.rubric-table th {
    min-width: 110px;
}

.horizontal-multiple-choice-single .rubric-comment td,
.vertical-multiple-choice-single .rubric-comment td {
    border: none !important;
}

.rubric-comment .control-label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.vertical-response-label .control-label {
    display: block;
    text-align: left;
    width: 100%;
}


/*=================================================================================================*/
/*  PREVIEW FORM                                                                                   */
/*=================================================================================================*/

.preview-dialog-container {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: 400ms opacity ease-out;
    -moz-transition: 400ms opacity ease-out;
    -ms-transition: 400ms opacity ease-out;
    transition: 400ms opacity ease-out;
    overflow: auto;
}

html.lt-ie9 .preview-dialog-container {
    background-color: transparent !important;
    background-image: url("../images/semitransparent/black/70.png");
    background-position: center center;
    background-repeat: repeat;
}

.preview-dialog-container .preview-dialog-content {
    display: table;
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
    background-image: none !important;
}

.preview-dialog-container .preview-dialog-content-inner {
    z-index: 1;
    display: block;
    width: 65%;
    padding-top: 10%;
    margin: auto;
    vertical-align: middle;
}

.preview-dialog-container .ui-dialog-titlebar,
.preview-dialog-container .ui-dialog-buttonpane {
    z-index: 2;
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: transparent !important;
    border: 0;
    border-radius: 0;
}

.preview-dialog-container .ui-dialog-titlebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 151px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.preview-dialog-container .ui-dialog-buttonpane {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.preview-dialog-container .ui-dialog-titlebar {
    padding: 0 50px;
}

.preview-dialog-container .ui-dialog-title {
    margin: 40px 0 0;
}

.preview-dialog-container .ui-dialog-title h1,
.preview-dialog-container .ui-dialog-title h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    right: 80px;
    font-family: "Helvetica Neue";
    text-shadow: 2px 2px 0 #000;
}

.preview-dialog-container .ui-dialog-title h1 {
    font-weight: 500;
}

.preview-dialog-container .ui-dialog-title h2 {
    font-weight: 300;
}

.preview-dialog-container a.ui-dialog-titlebar-close {
    margin-top: -21px;
    margin-right: 50px;
    background-color: none;
    background-image: none;
    padding: 7px;
    border-radius: 25px;
    border: 3px solid #fff;
}

.preview-dialog-container a.ui-dialog-titlebar-close span {
    margin: 0;
    position: relative;
    left: 1px;
}

.preview-dialog-container a.ui-dialog-titlebar-close:hover {
    padding: 7px;
    background-image: none;
    background-color: rgba(255,255,255,0.3);
}

.preview-dialog-container a.ui-dialog-titlebar-close.ui-state-hover span {
    background-image: url('../jquery/images/ui-icons_d8e7f3_256x240.png');
}

.preview-dialog-container .ensembleEmbeddedContent {
    margin: 0 auto;
    border: 16px solid #000;
    background-color: #000;
}

#return_to_my_assessments {
    margin-top: 4px;
}

td label {
    cursor: default;
}

#form-page-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    background-image: url(../../images/loading_med.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.preview-dialog-container .ensembleEmbeddedContent .ensembleContentTitle {
    display: none;
}

.select2 {
    width: 100% !important;
}

#page-loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../images/loading_med.gif') 50% 50% no-repeat;
}

.assessment-objective-list {
    font-size: 14px;
    list-style-type: none;
    margin-top: 15px;
    margin-left: 15px;
    width: 100%;
}

.assessment-objective-list li {
    margin-bottom: 8px;
    position: relative;
}

.expand-objective-btn, .collapse-objective-btn {
    color: #646464;
    display: inline-block;
    font-size: 16px;
    -webkit-transition:color .2s ease-in;
    -moz-transition:color .2s ease-in;
    -o-transition:color .2s ease-in;
    transition:color .2s ease-in;
}

.expand-objective-btn span.plus-sign {
    background: #f9f9f9;
    border-radius: 50%;
    border: 2px solid #ddd;
    color: #646464;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    line-height: 17px;
    margin-right: 6px;
    text-align:center;
    text-decoration: none;
    width: 20px;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    -moz-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.collapse-objective-btn span.ellipsis {
    color: #646464;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
    padding-top: 3px;
    text-align:center;
    text-decoration: none;
    width: 20px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.assessment-objective-list-spinner {
    background: url("../../images/loading_small.gif") no-repeat;
    background-size: 20px 20px;
    border: 2px solid #fff;
    display: inline-block;
    height: 20px;
    margin-right: 6px;
    width: 20px;
}

.assessment-objective-name {
    display: inline-block;
    position: absolute;
    top: 2px;
}

.expand-objective-btn:hover, .collapse-objective-btn:hover {
    color: #006773;
    text-decoration: none;
}

.expand-objective-btn:active, .expand-objective-btn:visited {
    text-decoration: none;
}

.expand-objective-btn:hover span.plus-sign {
    background: #00a8bc;
    border-color: #00a8bc;
    color: #fff;
}

.collapse-objective-btn:hover span.ellipsis {
    color: #00a8bc;
}

.item-fieldnote-container {
    margin-left: 45px;
    margin-top: 16px;
}

.item-fieldnote-container h3 {
    color: #646464 !important;
    font-size: 16px;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
}

.item-fieldnote-container ul {
    color: #646464;
    font-size: 14px;
    margin-left: 32px;
}

.item-fieldnote-container li {
    margin-bottom: 5px;
}

.fieldnote-response-container {
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow:inset 4px 0 0 0 #858B93;
    box-shadow:inset 5px 0 0 0 #858B93;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 19px;
    width: 95%;
}

.fieldnote-response-container ~ .fieldnote-response-container {
    -webkit-box-shadow:inset 4px 0 0 0 #93cddd;
    box-shadow:inset 5px 0 0 0 #93cddd;
}

.fieldnote-response-container ~ .fieldnote-response-container ~ .fieldnote-response-container {
    -webkit-box-shadow:inset 5px 0 0 0 #31859c;
    box-shadow:inset 5px 0 0 0 #31859c;
}

.fieldnote-response-container ~ .fieldnote-response-container ~ .fieldnote-response-container ~ .fieldnote-response-container {
    -webkit-box-shadow:inset 5px 0 0 0 #215968;
    box-shadow:inset 5px 0 0 0 #215968;
}

.fieldnote-response-container label {
    font-size: 14px;
    margin-left: 14px;
}

.fieldnote-response-container label.radio {
    min-height: 20px;
    padding-left: 20px;
}

.hide {
    display:none !important;
}

#last-saved-container {
    margin-top: 5px;
}

#last-saved-time {
    font-size: 11px;
    font-weight: normal;
    padding: 5px 8px;
    text-shadow: none;
}

td.selected-response {
    text-align: center;
    vertical-align: middle;
}

td.selected-response label {
    padding: 0!important;
}

.selected-response::before {
    color: #028ed2;
    content: "\f00c";
    font: normal normal normal 22px/1 FontAwesome;
    padding-left: 5px;
}

textarea[disabled], input[disabled], textarea[disabled]:hover {
    color: #000;
}

/*----------------------------------------------------------------------
Assessor/Target Card
----------------------------------------------------------------------*/

#assessor-card {
    float: left;
}

#assessor-card::after {
    color: #8b959d;
    content: "\f054";
    font: normal normal normal 26px/1 FontAwesome;
    position: absolute;
    right: -38px;
    top: calc(50% - 13px);
}

#target-card {
    float: right;
}

#assessor-card,
#target-card {
    border: 2px solid #d9dee2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    width: calc(50% - 24px);
}

#assessor-card .heading,
#target-card .heading {
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 14px;
    margin: 0 0 15px 0;
}

#assessor-card .user-image,
#target-card .user-image {
    box-sizing: border-box;
    float: left;
    width: 100px;
    padding-right: 20px;
}

#assessor-card .user-image img,
#target-card .user-image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

#assessor-card .user-metadata,
#target-card .user-metadata {
    float: left;
    width: calc(100% - 100px);
}

#assessor-card .email-wrapper,
#target-card .email-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#assessor-card .user-fullname,
#target-card .user-fullname {
    margin-bottom: 0;
}

#assessor-card .user-organisation,
#target-card .user-organisation {
    color: #8b959d;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 2px;
}

.assessment-delivery-detail-delivery-date.well,
.assessment-delivery-detail.well {
    margin: 0 0 20px 0;
    padding: 15px 20px;
}

.assessment-delivery-detail .heading {
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 0 10px 0;
}

.rubric-table .sortable-rubric-item .not-observed-response {
    background-color: #e6ebee;
}

.assessment-cue-card {
    border: 1px solid #d9dee2;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.assessment-cue-text {
    white-space: pre-wrap;
}

.assessment-cue-btn {
    display: inline-block !important;
}

.form-label {
    width: 100%;
    color: #8b959d;
    font-size: 13px;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.cue-text-area {
    width: 100%;
}