/* General */
#rubric-form,
#rubric-form .rubric-container {
    margin: 0;
}

.rubric-container {
    background: #fff;
    margin: 0 0 20px 0;
    position: relative;
    border: 2px solid #d9dee2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-item:last-child .rubric-container {
    margin: 0;
}

.rubric-table {
    border: none;
    margin-bottom: 0;
}

.rubric-table tbody:nth-child(odd) tr > td {
    background-color: #fff;
}

.rubric-table tbody:nth-child(even) tr > td {
    background-color: #f9fcfe;
}

.form-item .alert {
    margin-bottom: 20px;
}

/* Controls */
.rubric-table .rubric-controls th,
.rubric-table .rubric-controls td {
    background-color: #f4f7fa !important;
}

.rubric-table .rubric-controls th:first-child,
.rubric-table .rubric-controls td:first-child {
    border-left: none;
}

.rubric-table .rubric-controls .btn input[type="checkbox"] {
    margin-top: 0;
}

/* Title */
.rubric-table .rubric-title th {
    padding: 15px;
    border-top: 1px solid #ecf0f3;
}

.rubric-table .rubric-title th:first-child {
    border-left: none;
}

.rubric-table .rubric-title:first-child th {
    border-top: none;
}

.rubric-table .rubric-title h2,
.rubric-table .rubric-title h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: #17323b;
}

/* Description */
.rubric-table .rubric-description th {
    padding: 0 15px 15px 15px;
    border-top: none;
}

.rubric-table .rubric-description th:first-child {
    border-left: none;
}

.rubric-table .rubric-description th p {
    font-size: 15px;
    font-weight: normal;
}

/* Descriptors */
.rubric-table .rubric-descriptors th:first-child {
    border-left: none;
}

.rubric-table .rubric-descriptors .label-cell {
    padding: 15px;
    text-align: center;
}

.rubric-table .rubric-descriptors .label-cell h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #17323b;
}

/* Response Input */
.rubric-table .item-response-view td {
    background-color: #fff;
}

.rubric-table .sortable-placeholder .item-response-view td {
    background-color: lightgoldenrodyellow;
}

.rubric-table .ui-sortable-helper {
    opacity: .85;
    border-bottom: 1px solid #d9dee2;
}

.rubric-table tbody + tbody {
    border: none;
}

.rubric-response-input td:first-child {
    border-left: none;
}

.rubric-response-input td label {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.rubric-response-input td label .fa {
    font-size: 18px;
}

.rubric-response-input td label .rubric-response-text {
    margin-top: 10px;
    text-align: left;
}

.rubric-response-input td input[type="radio"] {
    margin: 0;
}

/* Item Text */
.rubric-table .rubric-item-text {
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #17323b;
}

/* Comment */
.rubric-table .rubric-comment .comment-label {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #17323b;
}

.rubric-comment td {
    border-left: 1px solid #d9dee2 !important;
}

.rubric-table .rubric-comment textarea {
    width: 100%;
}

/* Category */
.category-editable {
    box-sizing: border-box;
    position: relative;
    height: 66px;
    min-width: 265px !important;
    vertical-align: middle !important;
}

.category-editable select {
    width: 170px;
    display: none;
}

.category-loading{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.icon-category-pencil {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}

.btn-category-remove,
.btn-category-ok {
    box-sizing: border-box;
    padding: 4px 6px !important;
    height: 26px;
    width: 26px;
    line-height: 1.4;
    margin-top: 5px;
    margin-left: 5px;
}
