/* General */
.item-container {
    background: #fff;
    margin: 0 0 20px 0;
    position: relative;
    border: 2px solid #d9dee2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.form-item:last-child .item-container {
    margin: 0;
}

.item-table {
    width: 100%;
}

/* Input */
.item-table textarea,
.item-table select,
.item-table input[type="text"] {
    width: 100%;
    font-size: 13px;
    margin: 0;
}

/* Date picker (accommodate the datepicker icon) */
.item-table input[type="text"].hasDatepicker {
    width: calc(100% - 32px);
}

.item-table textarea.expandable {
    resize: vertical;
}

.item-table select {
    overflow: auto;
}

.item-table option {
    padding: 10px 15px;
}

/* Label */
.item-table label {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

/* Type */
.item-table .type {
    background-color: #f4f7fa;
}

.item-table .type td {
    padding: 10px 10px 10px 15px;
}

.item-table .type .item-type {
    color: #8A959D;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.item-table .type .btn input[type="checkbox"] {
    margin-top: 0;
}

.item-table .type .btn + .btn-group {
    margin-left: 5px;
}

/* Heading */
.item-table .heading td,
.item-table .heading th {
    padding: 15px;
    border-top: 1px solid #ecf0f3;
}

.item-table .heading:first-child td,
.item-table .heading:first-child th {
    border-top: none;
}

.item-table .heading h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

/* Response */
.item-table .item-response-view td {
    background-color: #fff;
    padding: 0 15px 15px 15px;
}

.item-table .item-response-view input[type="radio"] {
    margin-top: -4px;
}

.item-table .item-response-view input[type="checkbox"] {
    margin-top: 0;
}

#response-table .response-input {
    width: 100%;
}

#response-table textarea.response-input {
    resize: vertical;
}

#response-table .response-row .btn-search-filter {
    width: 100%;
    min-width: 200px;
}

/* Objective Tag Set */
.item-table .form-item-objective-label {
    margin-bottom: 10px;
}

.item-table .form-item-objective-label:last-child {
    margin: 0;
}

.item-table .form-item-objective-label input[type=radio] {
    margin-top: 0;
}

/* Comment */
.item-table .item-comment td {
    background-color: #f9fcfe;
}

/* Details */
.item-table .details {
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
    color: #17323b;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

.item-table .details td {
    border-top: 1px solid #ecf0f3;
    padding: 15px;
}

.item-table .item-detail-view td {
    padding: 0 15px 15px 15px;
}

.item-table .item-detail-view td h5 {
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
    color: #17323b;
    margin: 10px 0 0 0;
}

.item-table .item-detail-view td h5:first-child {
    margin: 0;
}

.item-table .item-detail-view td .item-tags span {
    margin: 0 !important;
}

.item-table .item-detail-view td .item-tags a {
    font-size: 14px;
}

.item-table .item-detail-view ul {
    margin: 10px 0 0 0;
    padding: 0;
}

.item-table .item-detail-view ul li {
    list-style: none;
}

/* Horizontal Response */
.horizontal-response-input td,
.horizontal-response-label td {
    text-align: center;
}

/* Objectives Modal */
#objective-modal {
    width: 715px;
}

#objective-modal div.objectives {
    width: 38%;
}

#objective-modal div.mapped_objectives {
    width: 60%;
}

/* Field Note */
/*
.field-note-category {
    float:left;
    margin-right: 30px;
}

.field-note-flag {
    padding-top: 4px;
}

#field-note-objective-btn {
    border-radius: 4px !important;
    min-width: 220px;
    text-align: left;
}
*/
#item-form .btn-search-filter {
    min-width: 150px;
}

/* Some overrides for the searchable dropdown */
.select2-search--dropdown {
    border-bottom: 1px solid #d9dee2 !important;
}

.select2-selection--single {
    border: 1px solid #d9dee2 !important;
}
.select2-results {
    border: none !important;
}
.select2-dropdown {
    border: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #d9dee2 !important;
}
.select2-container--open .select2-dropdown--below {
    border:1px solid #d9dee2 !important;
}
.select2-container--open .select2-dropdown--above {
    border:1px solid #d9dee2 !important;
}
.select2-container--default .select2-selection--single {
    height: 36px !important;
    min-height: 36px !important;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
}
.select2-results__option {
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent !important;
    border-width: 6px 3px 0 3px !important;
}
.select2-selection__arrow {
    height: 36px !important;
}
.select2-selection__rendered {
    text-align: left;
}
