<!DOCTYPE html>
<html>
	<head>
		<title>%COURSE_NAME% Syllabus</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<style type="text/css">
			body {
				font-family:Helvetica, Arial, sans-serif;
			}
			.page, .event {
				border: 2px dotted red;
				padding:2%;
				margin:2% 0;
			}
			.child {
				border-color:green;
			}
			#objectives > div > ul {
				margin-left:20px;
			}
			.break {
				page-break-after: always;
			}
			.center {
				text-align:center;
			}
		</style>
	</head>
	<body>
		<div class="center break">
			<img src="%ENTRADA_URL%/images/university-logo.png" width="384" height="292" />
			<h1 class="title">%COURSE_NAME%<br />(%COURSE_CODE%)</h1>
			<p>Generated: %GENERATED%</p>
			<p>%AGENT_CONTACT_NAME%, &lt;%AGENT_CONTACT_EMAIL%&gt;<br />
			Copyright %YEAR% Entrada. All Rights Reserved.</p>
		</div>
	</body>
</html>